body {
	background-color: #5e2e1d;
	/* background-image: url("./background1.jpg"); */
/* 	background-size: 100%; */
	background: url("./background1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content {
	margin: 5%;
	background-color: rgba(30,30,30,.7);
	background-size: cover;
	padding: 5%;
	color: #adb5bf;
	font-family: 'Roboto Slab', serif;
}

.space {
	color: rgba(0,0,0,0);
}

span.header {
	font-weight: 900;
}

h2 {
	font-size: 200%;
}
h3 {
	color: #c6cfdc;
}
h2, h3 {
	font-family: 'Russo One', sans-serif;
}
h4 {
	font-size: 120%;
	margin-bottom: 0;
}
h2, h3, h4, p, .table, .table2, form, span, .header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

table {
	border-collapse: collapse;
}
.table, .table2 {
	min-height: 22vh;
}

th, td {
	padding: 1vh;
	text-align: left;
	border-bottom: 1px solid #999;
}
.table2 > th, td {
	text-align: center;
}

tr:FIRST-CHILD {
	width: 10vw;
}

.addPlayerForm > input {
	margin-left: .3vw;
	margin-right: 1vw;
}

input[type="text"] {
	width: 6vw;
}

input[type="password"] {
	width: 3vw;
}

input[type="button"] {
	background-color: rgba(120,120,120,.6);
	opacity: 0.5;
}
button, input[type="submit"], input[type="button"] {
	border: 1px solid black;
	border-radius: 5px;
	background-color: #ddd;
 	box-shadow: 0 2px #666;
 	outline: none;
}
button:hover, input[type="submit"]:hover {
	border: 1px solid black;
	background-color: #999;
}
button:active, input[type="submit"]:active {
	background-color: #888;
	box-shadow: 0 1px #333;
	-webkit-transform: translateY(1px);
	        transform: translateY(1px);
}
